<%
parent_message ||= nil
users_select = User.allIdNameUserExcept(current_user)
message.author = current_user
form_url = messages_path
if (message.id) 
  form_url = message_path(message)
end
if (parent_message) 
  form_url = reply_to_message_path(parent_message)
end
%>
<%= form_with(model: message, url: form_url) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id %>
    <%= form.text_field :user_name, value: current_user.name, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :dest_id %>
    <%= form.collection_select :dest_id, users_select, :id, :name%>
  </div>

  <div class="field">
    <%= form.label :is_public %>
    <%= form.check_box :is_public %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
