<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>
<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>
<% if is_admin? || is_current_user?(@user)  %>
<%= link_to 'Edit', edit_user_path(@user, :html) %>
<% end %>
<% if is_admin? %>
 | <%= link_to 'Users', users_path(:html) %>
<% end %>